@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

#site{
    width: 70%;
    font-family: 'Raleway';
}

body{
    margin: 0;
    padding: 0;
    background-color: #bbbbbb;
}
header{
    background-color: #3c3c3c;
    padding-left: 49px;
    padding-top: 24px;
    padding-bottom: 32px;
}
footer{
    height: 140px;
    background-color: #212121;
    text-align: center;
    display: grid;
}
footer a{
    color: #000;
}
a{
    text-decoration: none;
}

#Name{
    margin: 0;
    color: white;
    filter: drop-shadow(0px 1px 1px black);
    font-size: 60px;
}
#Losung{
    margin: 0;
    color: white;
    filter: drop-shadow(0px 1px 1px black);
    font-size: 25px;
}
#aboutUs{
    height: 520px;
    background-image: url('img\\photo_2024-11-29_17-04-05.jpg');
    background-size: 100%;
    padding: 52px;
}
#aboutUs h1{
    font-size: 45px;
    backdrop-filter: blur(25px);
    border-radius: 10px;
}
#aboutUs p{
    font-size: 25px;
    backdrop-filter: blur(25px);
    border-radius: 10px;
}

#first{
    background-color: #cacaca;
}
#second{
    background-color: #8b8b8b;
}
#third{
    background-color: #a7a7a7;
}
#fourth{
    background-color: #cacaca;
}
#fifth{
    background-color: #8b8b8b;
}
#sixth{
    background-color: #a7a7a7;
}

.cat{
    height: 550px;
}
.lImg{
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    width: 35%;
    height: 100%;
    float: left;
}
.rText{
    width: 65%;
    height:510px;
    float: right;
    padding: 20px 0 20px 0;
    display: grid;
    align-content: space-evenly;
    justify-items: center;
}
.rImg{
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    width: 35%;
    height: 100%;
    float: right;
}
.lText{
    width: 65%;
    height:510px;
    float: left;
    padding: 20px 0 20px 0;
    display: grid;
    align-content: space-evenly;
    justify-items: center;
}
.lText div h1{
    font-style: italic;
    margin: 0;
    padding: 0 40px 0 40px;
}
.lText div p{
    margin: 0;
    padding: 0 40px 0 40px;
}
.rText div h1{
    font-style: italic;
    margin: 0;
    padding: 0 40px 0 40px;
}
.rText div p{
    margin: 0;
    padding: 0 40px 0 40px;
}

.btn{
    width: 250px;
    height: 40px;
    background-color: #ea9f9f;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:#212121;
    font-size: 18px;
}
.btnBack{
    width: 150px;
    height: 40px;
    background-color: #ea9f9f;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:#212121;
    font-size: 18px;
    margin-top: 10px;
}

.main{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h1{
    margin-bottom: 40px;
}

@media (max-width:1200px){
    iframe{
        width: 540px;
        height: 314px;
    }
}

@media (max-width: 1000px){
    #aboutUs h1{
        font-size: 35px;
    }
    #aboutUs p{
        font-size: 20px;
    }
    #Name{
        font-size: 45px;
    }
    #Losung{
        font-size: 20px;
    }
}
@media (max-width: 700px){
    #aboutUs{
        height: 300px;
    }
    #aboutUs h1{
        font-size: 25px;
    }
    #aboutUs p{
        font-size: 10px;
    }
    #Name{
        font-size: 35px;
    }
    #Losung{
        font-size: 10px;
    }
    .cat{
        height: 350px;
    }
    .rText{
        height:330px;
        padding: 10px 0 10px 0;
    }
    .lText{
        height:330px;
        padding: 10px 0 10px 0;
    }
    .lText div h1{
        font-size: 25px;
        padding: 0 20px 0 20px;
    }
    .lText div p{
        font-size: 11px;
        padding: 0 20px 0 20px;
    }
    .rText div h1{
        font-size: 25px;
        padding: 0 20px 0 20px;
    }
    .rText div p{
        font-size: 11px;
        padding: 0 20px 0 20px;
    }
    .btn{
        width: 150px;
        height: 30px;
        font-size: 12px;
    }
    .btnBack{
        width: 100px;
        height: 30px;
        font-size: 15px;
    }
    iframe{
        width: 300px;
        height: 200px;
    }
    footer{
        font-size: 13px;
    }
}
@media (max-width: 500px){
    #aboutUs{
        height: 250px;
    }
    #aboutUs h1{
        font-size: 20px;
    }
    #aboutUs p{
        font-size: 5px;
    }
    #Name{
        font-size: 30px;
    }
    #Losung{
        font-size: 5px;
    }
    .cat{
        height: 300px;
    }
    .rText{
        height:290px;
        padding: 5px 0 5px 0;
    }
    .lText{
        height:290px;
        padding: 5px 0 5px 0;
    }
    .lText div h1{
        font-size: 15px;
        padding: 0 10px 0 10px;
    }
    .lText div p{
        font-size: 6px;
        padding: 0 10px 0 10px;
    }
    .rText div h1{
        font-size: 15px;
        padding: 0 10px 0 10px;
    }
    .rText div p{
        font-size: 6px;
        padding: 0 10px 0 10px;
    }
    .btn{
        width: 100px;
        height: 20px;
        font-size: 12px;
    }
    .btnBack{
        width: 100px;
        height: 30px;
        font-size: 15px;
    }
    iframe{
        width: 300px;
        height: 200px;
    }
    footer{
        height: 100px;
        font-size: 6px;
    }
}